/*Overwrites the default styling added by the browser*/
* {
    padding: 0;
    margin: 0;
}
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {   
        
    background-color: aqua;
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
}

/*Main content*/
.game-area { 
    position: relative;
    background-color: rgba(0, 255, 162, 0.5);
    padding-top: 2rem;
    margin-top: 2rem;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid;
    border-radius: 20px;
    padding: 2px;
    font-size: 20px;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 70px;
}

.score-title {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

.score-number {
    padding-top: 5px;
    font-size: 2rem;
}

/* Game */
 .game {
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
   padding-top: 300px;
 }
.choice-btn {
    padding-top: 20px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    margin: 2px;
}

.btn-red {
    border-color: red;
    color: red;
}
.btn-green {
    border-color: green;
    color: green;
}
.btn-blue {
    border-color: blue;
    color: blue;
}
.btn-maroon {
    border-color: maroon;
    color: maroon;
}
.btn-purple {
    border-color: purple;
    color: purple;
    
}

/*Media queries of screen sizes bigger than 768px and up*/
/*Media queries*/
@media screen and (min-width :768px) {
    .game-area {max-width: 700px;
        margin: 0 auto;
        padding-top: 2rem;

    }
    .header {
        height: 150px;
        padding: 1rem, 1.5rem, 1rem, 2rem;
        font-size: 30px;
    }
    .score{
        width: 150px;
        height: 100%;
    }
    .score-title {
        font-size: 1rem;
    }
    .score-number {
        padding-top: 0%;
        font-size: 4rem;
    }
    .choice-btn{
    font-size: 3.2rem;
    width: 100px;
    height: 100px;
    align-items: center;
    padding-top: 20px;
    border: 10px solid;   
    margin: 2px;
    
    }
    .game {
        width: 100%;
        padding-top: 300px;
    }
}