/*Overwrites the default styling added by the browser*/
* {
    padding: 0;
    margin: 0;
}
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {   
        
    background-color: white;
    font-family: 'zeyada', sans-serif;
}

/*Main content*/
.game-area { 
    position: relative;
    background-color: rgb(242, 174, 185);
    padding-top: 2rem;
    margin-top: 2rem;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    border: 3px solid;
    border-radius: 20px;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    font-size: 15px;
}

/* Game */
 .game {
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;

 }
.choice-btn {
    padding-top: 15px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    margin: 2px;
}

.btn-black {
    border-color: black;
    color: black;
}
.btn-black:active,
.btn-black:hover {
    background-color: black;
    color: white;
}
/*Results*/
.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas: 
    "you-title computer-title"
    "you-picked computer-picked";
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
   

}
.results-heading1, .results-heading2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 0.5rem 0 2rem;
}
.result1, .result2 {
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    background: rgb(242, 174, 185);
    margin-bottom: 40px;
       
}
.results-heading1 {
    grid-area: you-title;
}
.results-heading2 {
    grid-area: computer-title;
}
.result1 {
   grid-area: you-picked;
}
.result2 {
    grid-area: computer-picked;
 }

/*Rules button*/
.rules-btn {
    position: absolute;
    bottom: 6.0rem;
    right: 2rem;
    background: none;
    border: 2px solid;
    border-radius: 0.6rem;
    color: var(--black-text);
    padding: 0.6rem, 2.5rem;
    font-family: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.3em;

}
.rules-btn:hover {
    background: black;
    border: 2px solid pink;
    color: white
}
/*Media queries of screen sizes bigger than 768px and up*/
/*Media queries*/
@media screen and (min-width :768px) {
    .game-area {max-width: 700px;
        margin: 10px auto;
        padding-top: 2rem;


    }
    .header {
        height: 150px;
        padding: 1rem, 1.5rem, 1rem, 2rem;
        font-size: 30px;
    }
    .score{
        width: 150px;
        height: 100%;
    }
    .score-title {
        font-size: 1rem;
    }
    .score-number {
        padding-top: 0%;
        font-size: 4rem;
    }
    .choice-btn{
    font-size: 3.2rem;
    width: 100px;
    height: 100px;
    align-items: center;
    padding-top: 20px;
    border: 10px solid;   
    margin: 2px;
    
    }
    .game {
        width: 100%;
    }
    .results-heading1, .results-heading2 {
        padding: 10px; 
    }
    .result1, .result2 {
        min-width:10rem;
        min-height: 10rem;
    }  
    .rules-btn {
        bottom: 20rem;
        right: 10rem;
    }
    /*Media queries of screen sizes bigger than 992px and up*/
@media screen and (min-width: 992px){
    .rules-btn {
        bottom: 20rem;
        right: 15rem;
    }  
}
}