/*Overwrites the default styling added by the browser*/
* {
    padding: 0;
    margin: 0;
}
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {       
    background: url("../images./two-boys-playing-rock-paper-scissors.jpg") no-repeat center center/cover;
    font-family: 'Zeyada', sans-serif;
}
h1 {
    color: black;
    text-align: center;
}

/*Main content*/
.game-area { 
    position: relative;
    background-color: rgba(242, 174, 185, 0.7);
    padding-top: 2rem;
    margin-top: 2rem;
    box-sizing: border-box;
    border: 3px solid;
    border-radius: 20px;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
        
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    font-size: 15px;
}
.score{
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
 }
#y-score, #c-score {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
}
/* Game */
 .game{
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
 .choice{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.5rem;
 }
.choice-btn {
    border-radius: 50%;
    background-color: white;
    border: 2px solid;
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    transition: all 0.5s;
}


.btn-black {
    border-color: black;
    color: black;
}
.btn-black:active,
.btn-black:hover {
    background-color: black;
    color: white;
}
/*Results*/
.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas: 
    "you-title computer-title"
    "you-picked computer-picked";
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
}

/*Reload button*/
#reload-btn {
    position: absolute;
    bottom: 2.0rem;
    right: 1.0rem;
    background: none;
    border: 2px solid;
    border-radius: 0.6rem;
    color: var(--black-text);
    margin-top: 20px;
    padding: 5px 20px;
    font-family: inherit;
    font-size: 1.0rem;
    letter-spacing: 0.1em;

}
#reload-btn:hover {
    background: black;
    border: 2px solid pink;
    color: white
}
/*Media queries of screen sizes bigger than 768px and up*/
/*Media queries*/
@media screen and (min-width :768px) {

    .game-area {max-width: 800px;
        max-height: 700px;
        margin: 10px auto;
        padding-top: 1.5rem;
     }
      #box {
        padding-top: 3rem;
      }

    
    .header {
        height: 150px;
        padding: 1rem, 1.5rem, 1rem, 2rem;
        font-size: 30px;
    }
    p {
        display: none;
    }
   
    .choice-btn{
    font-size: 3.2rem;
    width: 100px;
    height: 100px;
    align-items: center;
    padding-top: 20px;
    border: 10px solid;   
    margin: 2px;
    
    }
    .game {
        width: 100%;
    }
}
    /*Media queries of screen sizes bigger than 992px and up*/
@media screen and (min-width: 992px){
   

}